*/build/
*/node_modules/
*/.env
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
tmpnodejsnpm-cache/*
client/tmpnodejsnpm-cache/*
client/__generated__/
client/schema.json
client/src/sections/*/__generated__

